div.flash
  line-height: 40px
  text-align: center
div.flash.error
  background-color: #FCC
  color: #C00
div.flash.notice
  background-color: #CFC
  color: #050

#header
  margin-top: 30px

#logo
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  letter-spacing: -1px
  font-weight: bold
  a
    color: #c00
    text-decoration: none

#login_form
  margin-bottom: 0
  input[type=text]
    display: inline
    width: 130px
    margin-bottom: 10px
  input[type=submit]
    margin-bottom: 10px

#user_name
  font-weight: bold
        
input[type=text].full-width, textarea.full-width
  width:  100%
  padding-left: 0 !important
  padding-right: 0 !important

.field_with_errors
  input[type=text]
    border-color: red