- content_for :title, "Welcome"

%h1= yield :title

%p
  Rails3dojo is the simple wiki application built with Ruby on Rails.
  %br
  It's made in
  = link_to "Hamamatsu.rb", "http://hamamatsu-rb.github.com/"

%p
  At first, please create your 
  = link_to "Home page", wiki_page_path("Home")


