%h1 New Page

%div
  %form
    %label{ :for => "title" } Title
    %input{ :type => "text", :name=>"title", :id => "title", :class => "full-width" }
    %label{ :for => "body" } Body
    %textarea{ :name => "body", :id => "body", :class => "full-width", :rows => 20 }
    %button Create
